#!/usr/local/bin/make -f
STAMPDIR=tgz2build/stamps
STAGINGDIR=-tgz2build/staging

ZBS_STAGE_DIR=$(STAGINGDIR)
INSTALL:=./install-sh
CONFIGURE_OPTS := --prefix $(ZBS_PREFIX)
PATCH=
PATCHES=

ifneq (,$(findstring hpux,$(ZBS_DIST)))
  CONFIGURE_OPTS += "CFLAGS=-U_XOPEN_SOURCE -U_XOPEN_SOURCE_EXTENDED -D_HPUX_SOURCE"
endif

ifneq (,$(findstring aix,$(ZBS_DIST)))
  CONFIGURE_OPTS += "CFLAGS=-U_XOPEN_SOURCE -U_XOPEN_SOURCE_EXTENDED"
endif

ifneq (,$(findstring solaris,$(ZBS_DIST)))
  LDFLAGS += -Wl,-R/opt/syslog-ng/lib
endif


all: binary

binary: setup configure build install

setup:  $(STAMPDIR)/stamp-setup
$(STAMPDIR)/stamp-setup:
	mkdir $(STAMPDIR) || true
	touch $@

configure: $(STAMPDIR)/stamp-configure
$(STAMPDIR)/stamp-configure: $(STAMPDIR)/stamp-setup
	LDFLAGS="$(LDFLAGS)" $(SHELL) ./configure $(CONFIGURE_OPTS)
	touch $@

build:  $(STAMPDIR)/stamp-build
$(STAMPDIR)/stamp-build: $(STAMPDIR)/stamp-configure
	$(MAKE)
	touch $@

install: $(STAMPDIR)/stamp-install
$(STAMPDIR)/stamp-install: $(STAMPDIR)/stamp-build
	rm -rf $(ZBS_STAGE_DIR) || true
	$(MAKE) install DESTDIR=$(ZBS_STAGE_DIR)
	mkdir $(ZBS_STAGE_DIR)/bin
	$(INSTALL) -c libnet-config $(ZBS_STAGE_DIR)/$(ZBS_PREFIX)/bin/libnet-config
	touch $@

clean:
	rm -rf $(STAMPDIR) || true
	rm -rf $(ZBS_STAGE_DIR) || true
	-$(MAKE) clean
