#!/usr/local/bin/make -f                                                                                                                                           
STAMPDIR=tgz2build/stamps

INSTALL:=./install-sh
CONFIGURE_OPTS := --prefix $(ZBS_PREFIX)
PATCH=
PATCHES=

ifneq (,$(findstring hpux,$(ZBS_DIST)))
  CONFIGURE_OPTS += "CFLAGS=-U_XOPEN_SOURCE -U_XOPEN_SOURCE_EXTENDED -D_HPUX_SOURCE"
endif

ifneq (,$(findstring aix,$(ZBS_DIST)))
  CONFIGURE_OPTS += "CFLAGS=-U_XOPEN_SOURCE -U_XOPEN_SOURCE_EXTENDED"
endif


all: binary

binary: setup configure build install

setup:  $(STAMPDIR)/stamp-setup
$(STAMPDIR)/stamp-setup:
	mkdir tgz2build/stamps || true
	touch $@

configure: $(STAMPDIR)/stamp-configure
$(STAMPDIR)/stamp-configure: setup
	./configure $(CONFIGURE_OPTS)
	touch $@

build:  $(STAMPDIR)/stamp-build
$(STAMPDIR)/stamp-build: configure 
	$(MAKE) 
	touch $@

install: $(STAMPDIR)/stamp-install
$(STAMPDIR)/stamp-install: build
	rm -rf $(ZBS_STAGE_DIR) || true
	$(MAKE) install DESTDIR=$(ZBS_STAGE_DIR)
	mkdir $(ZBS_STAGE_DIR)/bin
	$(INSTALL) -c libnet-config $(ZBS_STAGE_DIR)/$(ZBS_PREFIX)/bin/libnet-config
	touch $@

clean:
	rm -rf tgz2build/stamps || true
	rm -rf tgz2build/staging || true
	$(MAKE) clean
	
