#!/usr/local/bin/make -f
STAMPDIR=tgz2build/stamps

INSTALL:=./install-sh
CONFIGURE_OPTS := --prefix $(ZBS_PREFIX) --build="$(build)" --enable-shared
PATCH=
PATCHES=

all: binary

binary: setup configure build install

setup:  $(STAMPDIR)/stamp-setup
$(STAMPDIR)/stamp-setup:
	mkdir tgz2build/stamps || true
	touch $@

configure: $(STAMPDIR)/stamp-configure
$(STAMPDIR)/stamp-configure: $(STAMPDIR)/stamp-setup
	CFLAGS="$(CFLAGS) -I$(ZBS_PREFIX)/include/pcap -I$(ZBS_PREFIX)/dep/include/pcap" bash ./configure $(CONFIGURE_OPTS)
	touch $@

build:  $(STAMPDIR)/stamp-build
$(STAMPDIR)/stamp-build: $(STAMPDIR)/stamp-configure
	$(MAKE)
	touch $@

install: $(STAMPDIR)/stamp-install
$(STAMPDIR)/stamp-install: $(STAMPDIR)/stamp-build
	rm -rf $(ZBS_STAGE_DIR) || true
	$(MAKE) install DESTDIR=$(ZBS_STAGE_DIR)
	mkdir $(ZBS_STAGE_DIR)/bin
	$(INSTALL) -c libnet-config $(ZBS_STAGE_DIR)/$(ZBS_PREFIX)/bin/libnet-config
	touch $@

clean:
	rm -rf $(STAMPDIR) || true
	rm -rf $(ZBS_STAGE_DIR) || true
	-$(MAKE) clean
